@{
    ViewBag.Title = "Index";
}
<h1>Te dhenat e perdoruesit</h1>
<h4>EMRI  :  @Session["emri"].ToString()</h4>
<h4>ADRESA  :  @Session["adresa"].ToString()</h4>
<h4>PERDORUESI  :  @Session["userID"].ToString()</h4>
<h4>PERDORUESI  :  @Session["balanca"].ToString()</h4>
